div.loading {
position: absolute;
left: 0;
z-index: 999;
width: 100%;
height: 130px;
display:none;
background: transparent url(images/loading.gif) center center no-repeat;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
-moz-opacity: 0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
}

div.loading span{
margin-top: 106px;
display: block;
color: #787878;
font-size: 10px;
}

#waiting {
position:absolute;
width:200px;
padding:4px;
background-color:#FDFDFD;
border:1px solid #BBBBBB;
font-family:Tahoma,Arial,Sans-Serif;
font-size:11px;
line-height:145%;
left: 50%;
top: 50%;
margin-left: -100px;
margin-top: -125px;
}

a { color:#996; text-decoration:none; text-shadow: black 1px 1px 1px; }
a:hover { color:#999; text-decoration:underline; }

a.side { color:#999966; text-decoration:none; }
a:hover.side { color:#999; text-decoration:underline; }

a.white { font-weight:bold; color:#999999; background-color:#262929; text-decoration:underline;}
a.white_menu { font-style:italic; font-weight:bold; color:#999999; background-color:#262929; text-decoration:none;text-align:left}
a:hover.white { color:#999; text-decoration:underline; }

form { margin:0px 0px 0px 0px; }

hr { height:1px; border-bottom:#333 1px solid; border-top:#2c3939 1px solid; }
hr.side-hr { height:1px; border-bottom:#333 1px solid; border-top:#2c3939 1px solid; }

td { font-family:Verdana,Tahoma,Arial,Sans-Serif; font-size:12px; }

pre { font-family:Verdana,Tahoma,Arial,Sans-Serif; font-size:12px; }

.alt { color:#aaa; }



.white-header {
	font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:12px;
	color:#66FF33; background-color:#212129;
 background-image: url(images/cat2_back.gif);
	padding:2px 2px 2px 2px;
 border:0px #000 solid; margin-top:1px;
}

.full-header {
	font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:12px;
	color:#565a63;
 border-bottom : 1px solid #333; 
 padding:1px 1px 1px 1px;
}

.footer {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
 color:#ccb69e;
	border-top : 0px dotted #000;
	padding : 1px;
}

.footer-x {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	border-top : 0px dotted #000;
	padding : 1px;
}

.button {
	font-family:Tahoma,Arial,Verdana,Sans-Serif;
	font-size:11px;
	color:#000000; background-color:#222;
 background-image: url(images/button.gif);
	height:19px;
	border:1px #333 solid; margin-top:2px;
}

.textbox {
	font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:11px;
	color:gray; background-color:#222;
	border:1px #333 solid;
}

.main-body {
    font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:12px;
	color:#8B8F91;background-color:#000;
    border-right : 1px solid #191e1e;
    border-left : 1px solid #191e1e;
	padding:4px 4px 4px 4px;
	text-align: left
}

td.side-body{text-align: left}

.side-body {
 font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size : 12px;
	color : #6b5b44;
	background-color : #000000;
	padding : 1px;
}

.side-body-center {
 font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size : 12px;
	color : #6b5b44;
	background-color : #061019;
	padding : 1px;
	text-align: center
}

.main-bg {
	color : #444;
	background-color : #000000;
	border-top : 1px solid #333;
	padding : 3px 3px 3px 3px;
}

.border {
	border : 1px solid #333;
}

.side-border-left {
	color : #444;
	background-color : #000000;
	padding : 2px 2px 2px 2px;
}

.side-border-right {
	color : #444;
	background-color : #262929;
 background-image: url(images/cb_fbr_tex.gif);
	padding : 2px 2px 2px 2px;
}

.news-footer {
 font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#ccb69e;background-color:#000000;
 border-top : 1px solid #2c3939;
	padding:2px 2px 2px 2px;
}

.barmain {
	font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:11px;font-weight:normal;
	color:#aaa;
	padding:4px 4px 4px 4px;
}

.capmain {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px; 
	font-weight:bold;
	color:#c0c0c0;
	background:#212526 url(images/cat2_back.gif);
    padding:2px 2px 2px 2px;
    text-align: left    
}

.scapmain {
	font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:11px;
	font-weight:bold;
    color:#c0c0c0;
	background:#212526 url(images/cat2_back.gif);
	padding:3px 3px 3px 3px;
	text-align: left
}

.tbl-border {
 color : #000;
}

.tbl {
 font-family : Verdana, Arial, Tahoma, sans-serif;
	font-size : 12px;
	font-weight : normal;
	color : #c2c2bf;
	padding : 1px;
}

.tbl1 {
 font-family : sans-serif , Verdana, Arial , Tahoma ;
	font-size : 13px;
	color : #9B9EA0;
 padding : 0px;
 border : 0px solid #000;
 background-color : #141414;
}

.tbl2 {
    font-family : sans-serif , Verdana, Arial , Tahoma ;
	font-size : 12px;
 font-weight : normal;
 color : #5d5e59;
	padding : 0px;
 border : 0px solid #000;
 background-color : #000000;

}

.forum-caption {
	font-size:12px;font-weight:normal;
	color:#565a63; background-color:#000;
 text-align:left;
 color:#ccb69e; background:#262929 url(images/cat2_back.gif);
	height:15px;
 padding:2px 2px 2px 2px;
}

.quote {
	font-size : 11px;
 font-style : italic; 
	color : #6B5B44;
	background-color : #222;
	padding : 4px;
	margin : 0px 20px 0px 20px;
	border : 1px solid #333;
}

.poll { height:10px; border:1px #000 solid; }



.comment-name {
	font-weight : bold;
	color : #444;
}

.shoutboxname {
 font-size : 11px;
	font-weight : normal;
	color : #444;
	background-color : #061019;
}

.shoutbox {
	color : #5b5e36;
	background-color : #061019;
}

.shoutboxdate {
	font-size : 11px;
	color : #ccb69e;
	background-color : #061019;
}

.small { font-size:12px; font-weight:normal; }
.small2 { font-size:12px; font-weight:normal; color:#6b5b44; }
.side-small { font-size:11px; font-weight:normal; color:#6b5b44; }
.side-label { font-size:11px; font-weight:normal; color:#ccb69e; background-color:#212129; padding:2px; background-image: url(images/cat2_back.gif);  }

.gallery { padding: 16px 0px 8px 0px; }
.gallery img { border: 1px solid #ccc; filter: gray; }
.gallery:hover img { border: 1px solid red; filter: none; }
img.activegallery { border: 1px solid green; filter: none; }



.image_left {
text-align: left;
margin: 0px 15px 10px 0px;

background-position: left;
float: left;

}

.image_right {
text-align: right;
margin: 0px 0px 10px 15px;
border: 1px solid #999999;
background-position: left;
float: right;
}

/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #000000;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #313131;
	border:0 solid #808080;
	color:#D8D842;
	font-size:12px;
	font-weight:bold;
	padding:3px 4px;
	text-align:center;
	vertical-align:top;
}

th.header {
background-color: #313131;
	border:0 solid #808080;
	color:#D8D842;
	font-size:12px;
	font-weight:bold;
	padding:3px 4px;
	text-align:center;
	vertical-align:top;
}

table.tablesorter thead tr .header {
	background-image: url(images/bg1.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #e0e0e0;
	padding: 4px;
	background-color: #000000;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#101010;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #202020;
}

#josOverlay{
	display:none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 1px;
	height: 1px;
}
#ss{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 91;
	visibility:hidden;
}

.deck {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.deck .tabBar {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; Z-INDEX: 2; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 11px Verdana, sans-serif; PADDING-TOP: 0px; POSITION: relative
}
.deck .tabBar TABLE TBODY TR TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.deck .tabBar .tab {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.deck .tabBar .tab A {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #000000 1px solid; DISPLAY: block; PADDING-LEFT: 0.5em; BACKGROUND: #303030; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: text-bottom; BORDER-LEFT: #000000 1px solid; COLOR: #81812f; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.deck .tabBar .tab A:hover {
	BORDER-LEFT-COLOR: #202020; BACKGROUND: #404040; BORDER-BOTTOM-COLOR: #202020; COLOR: #e1e12f; BORDER-TOP-COLOR: #202020; BORDER-RIGHT-COLOR: #202020
}
.deck .tabBar .tab#current A {
	BORDER-RIGHT: #808080 2px solid; BORDER-TOP: #808080 2px solid; FONT-WEIGHT: bold; BORDER-LEFT: #808080 2px solid; COLOR: #e1e12f; BORDER-BOTTOM: 1px solid #000000;
  background: #000000
}
.deck .tabBar .tab#current A:hover {
	CURSOR: default
}
.deck .tabbed {
	BORDER-RIGHT: #808080 2px solid; BORDER-TOP: 1px solid #808080 ; BORDER-LEFT: #808080 2px solid; BORDER-BOTTOM: #808080 2px solid;
  background-color: #000000
}
.deck .untabbed .card {
	OVERFLOW: hidden
}
.deck .tabbed .card {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; Z-INDEX: 1; PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-TOP: 8px; POSITION: relative;
  background-color: #000000
}
.deck .top {
	MARGIN-TOP: 3px; BOTTOM: -1px
}
.deck .top TABLE TBODY TR TD {
	VERTICAL-ALIGN: bottom
}
.deck .top .tab A {
	MARGIN-BOTTOM: 1px
}
.deck .top .tab#current A {
	MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 2px; BORDER-BOTTOM: 2px solid #000000
}
.deck .bottom {
	MARGIN-BOTTOM: 3px; TOP: -1px
}
.deck .bottom TABLE TBODY TR TD {
	VERTICAL-ALIGN: top
}
.deck .bottom .tab A {
	MARGIN-TOP: 1px
}
.deck .bottom .tab#current A {
	BORDER-TOP: black 2px solid; MARGIN-TOP: 0px; PADDING-TOP: 2px
}

H1 {
	text-align: center; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; MARGIN: 26px 0px 4px; LINE-HEIGHT: normal; PADDING-TOP: 2px; BACKGROUND-COLOR: #212121; COLOR: #FFFFFF
}

H2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; MARGIN: 24px 0px 4px; LINE-HEIGHT: normal; PADDING-TOP: 2px; BACKGROUND-COLOR: #212121; COLOR: #FFF14f
}

H3 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; MARGIN: 21px 0px 4px; LINE-HEIGHT: normal; PADDING-TOP: 2px; BACKGROUND-COLOR: #212121; COLOR: #81812f
}
H4 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 18px 0px 4px; LINE-HEIGHT: normal; PADDING-TOP: 2px; BACKGROUND-COLOR: #212121; COLOR: #81812f
}
H4:hover {
	COLOR: #FFF14f
}
H5 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; MARGIN: 14px 0px 4px; LINE-HEIGHT: normal; PADDING-TOP: 2px; BACKGROUND-COLOR: #212121; COLOR: #81812f
}

DIV.padded {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
DIV.thickPadded {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
DIV.centered {
	MARGIN: 10px; TEXT-ALIGN: center
}
DIV.centered TABLE {
	MARGIN: 0px auto; TEXT-ALIGN: left
}
.tableview TABLE {
	MARGIN: 0px
}
.tableview TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #020202; PADDING-TOP: 5px; BORDER-BOTTOM: #020202 2px solid; TEXT-ALIGN: left
}
.tableview TD {
	BORDER-RIGHT: 1px solid #808080; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid #808080; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; MARGIN: 0px; BORDER-LEFT: 1px solid #808080; PADDING-TOP: 4px; BORDER-BOTTOM: 1px solid #808080; TEXT-ALIGN: left
}
.grid {
	MARGIN: 2px 0px 5px; BORDER-COLLAPSE: collapse
}
.grid TH {
	BORDER-RIGHT: 1px solid #808080; PADDING-RIGHT: 4px; BORDER-TOP: 1px solid #808080; PADDING-LEFT: 4px; BACKGROUND: #404040; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px solid #808080; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid #808080; TEXT-ALIGN: center; FONT-WEIGHT: bold; FONT-SIZE: 12px;
}
.grid TD {
	BORDER-RIGHT: 1px solid #808080; PADDING-RIGHT: 4px; BORDER-TOP: 1px solid #808080; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; BORDER-LEFT: 1px solid #808080; PADDING-TOP: 3px; BORDER-BOTTOM: 1px solid #808080;

}
BLOCKQUOTE {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; MARGIN-LEFT: 2px; BORDER-LEFT: #808080 2px solid; MARGIN-RIGHT: 0px
}
TABLE.ctbl { BORDER-COLLAPSE: collapse;
  margin-left: 2px;
  text-align:center;
  margin-right: 0px

}
TD.ctd {
	BORDER-RIGHT: 1px solid #808080;
	PADDING-RIGHT: 0px;
	BORDER-TOP: 1px solid #808080;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0;
	VERTICAL-ALIGN: top;
	BORDER-LEFT: 1px solid #808080;
	PADDING-TOP: 0;
	BORDER-BOTTOM: 1px solid #808080;
	TEXT-ALIGN:center
}
TD.Tdi {
	BORDER-RIGHT: 1px solid #808080; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid #808080; PADDING-LEFT: 0px; PADDING-BOTTOM: 0; VERTICAL-ALIGN: middle; BORDER-LEFT: 1px solid #808080; PADDING-TOP: 0; BORDER-BOTTOM: 1px solid #808080
}
TD.Tdl {
	BORDER-RIGHT: 1px solid #808080; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid #808080; PADDING-LEFT: 0px; PADDING-BOTTOM: 0; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px solid #000000; PADDING-TOP: 0; BORDER-BOTTOM: 1px solid #808080
}
TD.Tdr {
	BORDER-RIGHT: 0px solid #000000; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid #808080; PADDING-LEFT: 0px; PADDING-BOTTOM: 0; VERTICAL-ALIGN: middle; BORDER-LEFT: 1px solid #808080; PADDING-TOP: 0; BORDER-BOTTOM: 1px solid #808080
}
TD.ntd {
	BORDER-RIGHT: 0px ; PADDING-RIGHT: 0px; BORDER-TOP: 0px ; PADDING-LEFT: 0px; PADDING-BOTTOM: 0; BORDER-LEFT: 0px; PADDING-TOP: 0; BORDER-BOTTOM: 0px ; text-align: right
}

TABLE.ctbl TD.ctd {
	BORDER-RIGHT: 1px solid #808080; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid #808080; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top;  BORDER-LEFT: 1px solid #808080; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid #808080
}
TH.cTh {
	BORDER-RIGHT: #808080 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #808080 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; BORDER-LEFT: #808080 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #808080 1px solid; BACKGROUND-COLOR: #313131; COLOR: #D8D842; TEXT-ALIGN: center; FONT-WEIGHT: bold; FONT-SIZE: 12px;
}
TH.cThun {
	BORDER-RIGHT: #808080 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #808080 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; BORDER-LEFT: #808080 0px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #808080 0px solid; BACKGROUND-COLOR: #313131; COLOR: #D8D842; TEXT-ALIGN: center; FONT-WEIGHT: bold; FONT-SIZE: 12px;
}
TABLE.ctbl TH.cTh {
	BORDER-RIGHT: #808080 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #808080 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; BORDER-LEFT: #808080 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #808080 1px solid; BACKGROUND-COLOR: #313131; COLOR: #D8D842; TEXT-ALIGN: center
}
DIV.small {
	FONT-SIZE: 9px
}
SPAN.left {
	FLOAT: left; TEXT-ALIGN: left
}
SPAN.right {
	FLOAT: right; TEXT-ALIGN: right
}
LABEL.normal {
	FONT-WEIGHT: normal; COLOR: black
}
DIV.leftFloatMargined {
	FLOAT: left; MARGIN-RIGHT: 2px
}
.MN {
  BORDER-RIGHT: #808080 2px solid; BORDER-TOP: #808080 2px solid;  VERTICAL-ALIGN: top; BORDER-LEFT: #808080 2px solid;  BORDER-BOTTOM: #808080 2px solid; BACKGROUND-COLOR: #232323; COLOR: #D8D842; TEXT-ALIGN: right; FONT-WEIGHT: bold; FONT-SIZE: 10px
  
}
.MN1 {
  BORDER-RIGHT: #808080 2px solid; BORDER-TOP: #808080 2px solid;  VERTICAL-ALIGN: top; BORDER-LEFT: #808080 2px solid;  BORDER-BOTTOM: #808080 2px solid; BACKGROUND-COLOR: #232323; COLOR: #D8D842; TEXT-ALIGN: right; FONT-WEIGHT: bold; FONT-SIZE: 10px;
  width: 100%
}

.mbl
{
	BORDER-RIGHT: #808080 2px solid; BORDER-TOP: #808080 2px solid;  VERTICAL-ALIGN: top; BORDER-LEFT: #808080 2px solid;  BORDER-BOTTOM: #808080 2px solid; BACKGROUND-COLOR: #000000; COLOR: #D8D842; TEXT-ALIGN: center; FONT-SIZE: 10px
}

.MN2 {
      BORDER-RIGHT: #808080 0px ; BORDER-TOP: #808080 2px solid;  BORDER-LEFT: #808080 0px ;  BORDER-BOTTOM: #808080 1px solid; BACKGROUND-COLOR: #232323; COLOR: #D8D842; TEXT-ALIGN: right; FONT-WEIGHT: bold; FONT-SIZE: 10px;

}
.CL       {
  BORDER-RIGHT: #808080 2px solid; BORDER-TOP: #808080 2px solid;  VERTICAL-ALIGN: top; BORDER-LEFT: #808080 2px solid;  BORDER-BOTTOM: #808080 2px solid; BACKGROUND-COLOR: #232323; COLOR: #D8D842; TEXT-ALIGN: right; FONT-WEIGHT: bold; FONT-SIZE: 10px;
  width: 100%;
  height: 100%
}
.CLI       {
  BORDER-RIGHT: #808080 2px solid; BORDER-TOP: #808080 2px solid;  VERTICAL-ALIGN: top; BORDER-LEFT: #808080 2px solid;  BORDER-BOTTOM: #808080 2px solid; BACKGROUND-COLOR: #232323; COLOR: #D8D842; TEXT-ALIGN: right; FONT-WEIGHT: bold; FONT-SIZE: 10px;
  width: 100%;
  height: 100%
}
.hintbody
{
  POSITION: absolute; BACKGROUND-COLOR: #020202;
  OVERFLOW: visible;
  border: 1px double #FFFF00;
  z-index: 18
}

.floatleft {float:center;  padding-right:0px}
.ddcontent { overflow:hidden; width:100%; display:none;z-index:20}
.ddcontent_without_js { width:100%;}
.ddcontent_c { width:100%; z-index:20}
.ddinner {width:100%; border:none ;}
.ddinner ul {display:block; list-style:none; margin:0; padding:0;}
.ddinner li {margin:0; padding-top:0px; padding-bottom:1px;cursor:pointer;}
.ddinner li:hover {background:#444444; }
.ddheader { font-size:11px; cursor:pointer; width: 100%; margin-top:0px; font-weight:bold; color:silver; border:0px solid #202020;background-color:#212129; padding-top:1px;padding-bottom:1px; background-image: url(./images/cat2_back.gif);  }


