@import "reset.css";
html, body{
    height: 100%;
}
@pageWidth: 1260px;
@footerHeight: 100px;
.footer{
    height: @footerHeight;
    margin-top: -@footerHeight;
    margin-left: auto;
    margin-right: auto;
    width: @pageWidth;
    background: red;
    &-holder{
        height: @footerHeight;
    }
}
.wrapper{
    min-height: 100%;
}
@leftMenuWidth: 150px;
.content{
    background-color: gray;
    margin-left: @leftMenuWidth;
    &-wrapper {
        width: @pageWidth;
        margin: 0 auto;
    }
}
.left-menu{
    width: @leftMenuWidth;
    background-color: #009900;
    float: left;
}