@import "reset.css";
html,
body {
  height: 100%;
}
.footer {
  height: 100px;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  width: 1260px;
  background: red;
}
.footer-holder {
  height: 100px;
}
.wrapper {
  min-height: 100%;
}
.content {
  background-color: gray;
  margin-left: 150px;
}
.content-wrapper {
  width: 1260px;
  margin: 0 auto;
}
.left-menu {
  width: 150px;
  background-color: #009900;
  float: left;
}
