* {
    margin: 0;
    padding: 0;
}
html,
body,
.wrapper {
    height: 100%;
}
.wrapper{
    min-height: 100%;
}
.std-input{
     /*width:200px;*/
 }
.std-select {
    width: 300px;
}
.form-img{
    max-width: 50px;
    max-height: 50px;
}
.c, .cc, .clear{
    clear: both;
}
.icon{
    font-size: 16px;
    margin-right: 7px;
}
.admin-content{
    padding: 0px 20px 20px;
}
.admin-head{
    padding-right: 10px;
}
.content-wrap{
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 28px;
}
.footer{
    height: 28px;
    margin-top: -28px;
}
.admin-menu{
    float: left;
}
.admin-logout{
    float: right;
    margin-top: 10px;
}
.copy{
    float: right;
    padding: 3px 5px;
}
.icon-remove{
    color: #a94442;
    margin: 0 5px;
}
.list-actions{
    width: 150px;
}
.list-id{
    width: 100px;
}
.button-add {
    margin: 10px 0;
}