body{ font: 62.5% 'Trebuchet MS', sans-serif;}
.demoHeaders { margin-top: 2em; }
#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}
.hitem{
    BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; WIDTH: 50px; HEIGHT: 50px;  VERTICAL-ALIGN: middle; TEXT-ALIGN: center;
}
.mm{
    BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; WIDTH: 170px; HEIGHT: 196px;  VERTICAL-ALIGN: middle; TEXT-ALIGN: left;
}
td.hitem input{position: relative; top: -1 px; left: 3 px;}
td.hitem img{position: relative; top: 0 px; left: -2 px;}
div#items_select div:hover{background: #A5A39A;}
div#items_select div.not_in_lim{background: #C59A9A;}
div#items_select div.not_in_lim:hover{background: #E56A6A !important;}
.mn_dis{BORDER-RIGHT: #808080 2px solid; BORDER-TOP: #808080 2px solid;  VERTICAL-ALIGN: top; BORDER-LEFT: #808080 2px solid;  BORDER-BOTTOM: #808080 2px solid; BACKGROUND-COLOR: #232323; COLOR: #808080; TEXT-ALIGN: right; FONT-WEIGHT: bold; FONT-SIZE: 10px}
.dis {COLOR: #FF0000 !important;}
