html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family:Verdana,Tahoma,Arial,Sans-Serif;
    background-color : #2a2a2a;
    color: #a0a0a0;
    font-size:12px;
}
.clear, .c, .cc{
    clear: both;
}
.header{

}
.footer-holder, .footer{
    height: 25px;
}
.footer{
    box-sizing: border-box;
    margin-top: -25px;
    background-color: rgba(42, 42, 42, 0.9);
    box-shadow: 0 -3px 15px 1px rgba(42,42,42, 0.5);
}
.content{
    height: 100%;
}
.content-inner{
    margin: 0 10px;
}
.bg-right{
    background: url("/source/img/phenix-mirror.svg") no-repeat scroll right 24px;
    background-size: contain;
    height: 100%;
}
.bg-left{
    background: url("/source/img/phenix.svg") no-repeat scroll left 24px;
    height: 100%;
    background-size: contain;
}

.hwm-top-menu{
    list-style: outside none none;
    margin: 0px 0 10px 10px;
    padding: 0;
    position: relative;
    z-index: 10;
    padding-top: 10px;
}
.hwm-top-menu-item{
    display: inline;
    padding-right: 20px;
}
.hwm-top-menu-ref{
    font-family: cursive;
    font-size: 14px;
    text-decoration: none;
    text-shadow: black 1px 1px 1px;
}
.hwm-top-menu-ref--selected{
    background: rgb(255,191,81); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255,243,221,0) 0%, rgba(205,150,131,0.7) 50%, rgba(255,243,221,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,243,221,0) 0%,rgba(205,150,131,0.7) 50%,rgba(255,243,221,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,243,221,0) 0%,rgba(205,150,131,0.7) 50%,rgba(255,243,221,0) 100%);
}

.map-wrap{
    float: left;
    height: 820px;
    margin-left: -255px;
    margin-top: -205px;
    width: 1024px;
    position: relative;
}
.map-wrap div{
    transform: scale(0.6);
}
.map-merchant:hover, .map-merchant.selected{
    background: url("../img/littleMerchant.png") right;
}
.map-merchant{
    background: url("../img/littleMerchant.png");
    cursor: pointer;
    width:125px;
    height: 189px;
    position: absolute;
    top: 167px;
    right: 0;
}
@media screen and (min-width: 1500px) {
    .map-wrap {
        height: 820px;
        margin-left: -128px;
        margin-top: -102px;
        width: 1155px;
    }
    .map-wrap div{
        transform: scale(0.8);
    }
    .map-merchant{
        top: 84px;
    }
}
.legend-buttons{
    float: left;
    width: 450px;
}


#castle{
    bottom: -450px;
    height: 172px;
    left: 300px;
    position: relative;
    width: 172px;
    z-index: 100;
}
.legend-button {
    display: block;
    float: left;
    height: 50px;
    margin: 2px;
    padding: 0;
    width: 50px;
    cursor: pointer;
}
.legend-button-img{
    width: 50px;
    height: 50px;
    display: block;
}
.legend-button-img:hover {
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.3);
}
.search-items{
    width: 425px;
}
