* {
    margin: 0;
}
html, body{
    height: 100%;
}
body{
    padding: 0 5px;
}
.clear, .c, .cc{
    clear: both;
}
.container{
    display: grid;
    width: 1200px;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 40px;
    grid-gap: 10px;
    grid-template-areas: "header" "content" "footer";
    margin: 0 auto;
}
.header{
    grid-area: header;
    background: rgba(45, 116, 45, 0.4);
    padding: 13px;
    box-shadow: 0 0px 10px rgba(59, 107, 59, 0.2);
    border-radius: 0 0 5px 5px;
}
.content{
    grid-area: content;
    background: rgba(240,240,240, 0.8);
    border-radius: 3px;
    padding: 10px;
}
.menu{
    padding-left: 0;
}
.menu-item{
    display: block;
    float: left;
    margin-right: 10px;
    list-style: none;
    font-family: Calibri;
    font-style: italic;
    font-weight: bold;
}
.menu-item--main{
    margin-top: -6px;

}
.footer{
    grid-area: footer;
    background: rgba(59, 107, 59, 0.3);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    border-width: 2px 2px 0 2px;
    box-shadow: 0 0 3px rgba(59, 107, 59, 0.3);
}
.footer-copy{
    font-family: Calibri;
    font-weight: bold;
    font-style: italic;
    color: rgb(35, 35, 35);
}

.game2players-links {
    position: relative;
    bottom: -2px;
}
.game2players-link-li {
    list-style: none;
    float: left;
    margin-right: 10px;
}
.game2players-link{
    padding: 5px 5px 0 5px;
    display: block;
    width: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 5px 5px 0 0;
    opacity: 0.75;
}
.game2players-link.active{
    border-bottom-color: rgb(243, 243, 243);
    box-shadow: 2px -2px 2px rgb(170,170,170),-2px -2px 2px rgb(170,170,170);
    opacity: 1;
    background: linear-gradient(to bottom, rgba(180,180,180,1) 0%,rgba(255,255,255,1) 100%);
}
.game2players-name{
    margin-bottom: 5px;
    height: 2em;
}
.game2players-img-wrap{
    height: 150px;
    margin-bottom: 3px;
}
.game2players-img{
    max-width: 200px;
    max-height: 150px;
}
.game2players-content-wrap {
    border-top: 2px solid gray;
}
